# DATA TYPE

In [ ]:
# MYLIST=[]
#TUPLE=()
#SET={}
#DICTIONARY={}

In [127]:
mylist=[11,32,43,5,47,6,76,45,76,8,7,98,90,36]

In [128]:
mylist

[11, 32, 43, 5, 47, 6, 76, 45, 76, 8, 7, 98, 90, 36]

In [129]:
len(mylist)

14

In [130]:
type(mylist)

list

In [131]:
mylist.append(100)

In [132]:
mylist

[11, 32, 43, 5, 47, 6, 76, 45, 76, 8, 7, 98, 90, 36, 100]

In [133]:
mylist[3]=11

In [134]:
mylist

[11, 32, 43, 11, 47, 6, 76, 45, 76, 8, 7, 98, 90, 36, 100]

In [135]:
mylist[-5]

7

In [136]:
mylist.count(11)

2

In [137]:
mylist.remove(90)

In [138]:
mylist

[11, 32, 43, 11, 47, 6, 76, 45, 76, 8, 7, 98, 36, 100]

In [139]:
mylist.pop()

100

In [140]:
mylist

[11, 32, 43, 11, 47, 6, 76, 45, 76, 8, 7, 98, 36]

In [141]:
mylist[1]=55

In [142]:
mylist

[11, 55, 43, 11, 47, 6, 76, 45, 76, 8, 7, 98, 36]

In [143]:
mylist.pop(10)

7

In [144]:
mylist

[11, 55, 43, 11, 47, 6, 76, 45, 76, 8, 98, 36]

In [145]:
mylist.index(47)

4

In [146]:
mylist.insert(5,90)

In [147]:
mylist

[11, 55, 43, 11, 47, 90, 6, 76, 45, 76, 8, 98, 36]

In [148]:
mylist.reverse()

In [149]:
mylist

[36, 98, 8, 76, 45, 76, 6, 90, 47, 11, 43, 55, 11]

In [150]:
mylist1=mylist.copy()

In [151]:
mylist1

[36, 98, 8, 76, 45, 76, 6, 90, 47, 11, 43, 55, 11]

In [152]:
mylist1[3:9]

[76, 45, 76, 6, 90, 47]

In [153]:
mylist1[-5:-1]

[47, 11, 43, 55]

In [154]:
mylist[-5:1]

[]

In [155]:
mylist[-3::1]

[43, 55, 11]

In [156]:
mylist[-3::-1]

[43, 11, 47, 90, 6, 76, 45, 76, 8, 98, 36]

In [157]:
mylist1[1::6]

[98, 90]

In [158]:
mylist.clear()

In [159]:
mylist

[]

In [160]:
mytuple=(11,2,22,43,5,40,52,37,4,55,21,28,4,34,13,23,96)

In [84]:
mytuple

(11, 2, 22, 43, 5, 40, 52, 37, 4, 55, 21, 28, 4, 34, 13, 23, 96)

In [85]:
len(mytuple)

17

In [86]:
type(mytuple)

tuple

In [87]:
mytuple.count(55)

1

In [88]:
mytuple.index(40)

5

In [90]:
mytuple[0]=4

TypeError: 'tuple' object does not support item assignment

In [161]:
mytuple.clear()

AttributeError: 'tuple' object has no attribute 'clear'

In [237]:
myset={11,65,87,45,4,87,56,54,98,34,54,87,12,65,76,45,34,87}

In [179]:
myset

{4, 11, 12, 34, 45, 54, 56, 65, 76, 87, 98}

In [180]:
myset.add(100)

In [181]:
myset

{4, 11, 12, 34, 45, 54, 56, 65, 76, 87, 98, 100}

In [182]:
len(myset)

12

In [183]:
type(myset)

set

In [188]:
myset.update({11,22,33,44})

In [189]:
myset

{4, 11, 12, 22, 33, 34, 44, 45, 54, 56, 65, 76, 87, 98, 100}

In [207]:
myset.discard((11))

In [208]:
myset

{4, 12, 22, 33, 34, 44, 45, 54, 56, 65, 76, 87, 98}

In [222]:
myset.intersection([1,2,3,4],[4,8,7,9])

{4}

In [225]:
myset.union([1,2,3,4,88])

{1, 2, 3, 4, 12, 22, 33, 34, 44, 45, 54, 56, 65, 76, 87, 88, 98}

In [228]:
myset.pop()

12

In [229]:
myset.clear()

In [238]:
myset

{4, 11, 12, 34, 45, 54, 56, 65, 76, 87, 98}

In [245]:
myset.remove(45)

KeyError: 45

In [250]:
myset.discard(65)

In [251]:
myset.clear()

In [252]:
myset

set()

In [253]:
mydic={'name':'jully','stu_id':"yt-7654",'stu_course':'python'}

In [254]:
mydic

{'name': 'jully', 'stu_id': 'yt-7654', 'stu_course': 'python'}

In [255]:
len(mydic)

3

In [256]:
type(mydic)

dict

In [257]:
mydic['region']='south'

In [258]:
mydic

{'name': 'jully',
 'stu_id': 'yt-7654',
 'stu_course': 'python',
 'region': 'south'}

In [262]:
mydic.items()

dict_items([('name', 'jully'), ('stu_id', 'yt-7654'), ('stu_course', 'python'), ('region', 'south')])

In [265]:
mydic.update({'city':'nagpur'})

In [266]:
mydic

{'name': 'jully',
 'stu_id': 'yt-7654',
 'stu_course': 'python',
 'region': 'south',
 'city': 'nagpur'}

In [268]:
mydic.pop('city')

'nagpur'

In [269]:
mydic.popitem()

('region', 'south')

In [272]:
mydic.fromkeys('region')

{'r': None, 'e': None, 'g': None, 'i': None, 'o': None, 'n': None}

In [275]:
mydic.clear()

In [276]:
 mydic

{}